* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 42px;

    width: 100%;
    height: 100%;

    background: #F0F0F5;
    
    transition: transform 0.9s ease 0.15s, opacity 0.9s ease 0.15s;
}

p {
    margin: 0px;
    width: 400px !important;
}

.hello-text {
    margin-left: 180px;
    margin-top: 180px;

    width: 40%;
}

.text-highlight {
    color: #4B3E7E;
}

.blob {
    position: absolute;
    right: 0;
    bottom: 0;
}

.icon {
    position: absolute;
    left: 30px;
    top: 30px;
}

.link {
    display: flex;
    justify-content: center;
}
